* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}


.blur{
    filter: blur(5px);
    pointer-events: none;
}

/* Estilização do header */
header{
    z-index: 999;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 100dvw;
    height: 10dvh;
    background-color: white;
}
/* Fim da Estilização do header */

/* Estilização dos componentes do Header */
    /* estilização do logo no Header */
.logo{
    display: flex;
    height: 100%;
    width: 15%;
    align-items: center;
    justify-content: center;
}
.logo img{
    height: 70%;
}
    /* fim da estilização do logo no Header */

    /* estilização da Nav */
nav{
    display: flex;
    height: 100%;
    width: 70%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
nav a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
}
    /* fim da estilização da Nav */

    /* estilização dos botões de login */
.login{
    display: flex;
    height: 100%;
    width: 15%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.login a{
    font-size: 2rem;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
    box-sizing: border-box;
}
.login #login{
    border: solid 1px black;
    border-radius: .7rem;
}
.login #register{
    border: solid 1px transparent;
    background-color: #0024f5;
    color: white;
    border-radius: .7rem;
}
    /* fim da estilização dos botões de login */
/* Fim da estilização dos componentes do Header */





/* Estilização da primeira sessao da pagina */
section1{
    display: flex;
    position: relative;
    max-width: 100dvw;
    height: 805.125px;
}
/* Fim da estilização da primeira sessao da pagina */
/* Estilização dos componentes da primeira sessao */
    /* estilização do background */
#background{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
    /* fim da estilização do background */
    /* estilização do containner */
.container1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 52% 20% 20% 8%;
    grid-template-areas: 
    "h1 foto1"
    "p1 foto1"
    "a1 foto1"
    "nada nada";
    position: relative;
    z-index: 2;
}
    /* fim da estilização do containner */
    /* estilização componentes do container */
.container1 h1{
    grid-area: h1;
    font-size: 5.4rem;
    font-weight: 800;
    color: white;
    text-align: justify;
    width: 54%;
    justify-self: center;
    align-self: flex-end;
    margin-bottom: 3%;
    box-sizing: border-box;
}
.container1 p{
    box-sizing: border-box;
    margin-top: 3%;
    grid-area: p1;
    font-size: 2.1rem;
    font-weight: 500;
    justify-self: center;
    align-self: center;
    width: 45%;
    text-align: justify;
    color: rgba(88, 88, 88, 0.85);
}
.container1 a{
    grid-area: a1;
    font-size: 2rem;
    justify-self: flex-start;
    margin-left: 27%;
    align-self: flex-start;
    width: auto;
    text-decoration: none;
    background-color: #2E2E2E;
    color: white;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 1.3rem;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, .25);

}
.container1 img{
    box-sizing: border-box;
    grid-area: foto1;
    justify-self: flex-start;
    margin-left: 10%;
    align-self: center;
    margin-bottom: 5%;
}
    /* fim da estilização componentes do container */
/* Fim da estilização dos componentes da primeira sessao */









/* Estilização da Segunda sessão */
section2{
    position: relative;
    max-width: 100dvw;
    height: auto;
    display: flex;
    flex-direction: column;
}
/* Fim da Estilização da Segunda sessão */
/* Estilização dos elementos da Segunda sessão */
.container2{
    width: 100dvw;
    height: 100%;
    grid-area: cont2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 15%;
    align-items: center;
}
.container2 .box{
    width: 33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container2 .box img{
    box-sizing: border-box;
    height: auto;
    width: 80%;
    margin: 0 auto;
}
.container2 .box p{
    box-sizing: border-box;
    width: 78%;
    text-align: justify;
    margin: 0 auto;
    font-size: 2rem;
}


.container3 h1, .container4 h1, .container5 h1{
    font-size: 3rem;
}
.container3 p, .container4 p, .container5 p{
    font-size: 2rem;
}
.container3{
    height: 50dvh;
    display: flex;
    flex-direction: row;
    grid-area: cont3;
}
.container3 .texto1{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0 14.3%;
    box-sizing: border-box;
}
.container3 .texto1 h1{
    padding: 30px 0;
    box-sizing: border-box;
}
.container3 .mao_cel{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-start;
}
.container3 .mao_cel img{
    height: 70%;
}


.container4{
    height: 50dvh;
    display: flex;
    flex-direction: row;
    grid-area: cont4;
}
.container4 .chicoin{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: flex-end;
}
.container4 .chicoin img{
    height: 40%;
}
.container4 .texto2{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    margin: 0 14.3%;
    box-sizing: border-box;
}
.container4 .texto2 h1{
    padding: 30px 0;
    box-sizing: border-box;
}




.container5{
    display: flex;
    grid-area: cont5;
    height: 10dvh;
}
.container5 img{
    width: 100dvw;
    height: auto;
}

/* FIm da Estilização dos elementos da Segunda sessão */









/* Estilização da Terceira sessão */
section3{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}
section3 h1{
    font-size: 3rem;
}
section3 h2{
    font-size: 2rem;
    font-weight: 600;
}
section3 p{
    font-size: 2rem;
}
/* Fim da estilização da Terceira sessão */

/* Estilização dos componentes da Terceira Sessão */
.container6{
    margin-top: 100px;
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100dvw;
    height: 400px;
}
.container6 #flower_coin{
    top: 0;
    height: 350px;
    position: absolute;
    z-index: 2;
}
.container6 .box1{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: 200px;
}
.container6 .box1 h1{
    margin-bottom: 50px;
}
.container6 .box1 h2{
    margin-bottom: 20px;
}




.container7{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100dvw;
}
.tamanho_imagem{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.container7 img{
    width: 50%;
}
.container7 .box2{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 0 200px;
}
.container7 .box2 h1{
    margin-bottom: 50px;
}
.container7 .box2 h2{
    margin-bottom: 20px;
}

.container8{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100dvw;
}
.tamanho_imagem{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.container8 img{
    width: 40%;
}
.container8 .box3{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 0 200px;
}
.container8 .box3 h1{
    margin-bottom: 50px;
}
.container8 .box3 h2{
    margin-bottom: 20px;
}

.container9{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    width: 100dvw;
}
.tamanho_imagem{
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.container9 img{
    width: 20%;
}
.container9 .box4{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    padding: 0 200px;
}
.container9 .box4 h1{
    margin-bottom: 50px;
}
.container9 .box4 h2{
    margin-bottom: 20px;
}
/* Fim da estilização dos componentes da Terceira Sessão */


#userSatf{
    font-size: 3rem;
    display: flex;
    justify-self: center;
    align-self: center;
    margin: 10rem 0 0 0;
}

/* Só exemplo pode apagar dps */
#carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10rem 0;
}
#carousel button{
    font-size: 5rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0 3rem;
}
#carousel #image-container img{
    height: 30rem;
}
/* Só exemplo pode apagar dps */

section4{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    column-gap: 35rem;
    margin-bottom: 3rem;
}
section4 h1{
    font-size: 3rem;
    color: white;
}
.vamosComecar{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
    background-color: #0129f5;
    padding: 4.7rem;
    border-radius: 0 1rem 1rem 0;
}

.baixeLume{
    background-color: #0129f5;
    padding: 3rem;
    border-radius: 1rem 0 0 1rem;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    width: 50%;
}


section5{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    column-gap: 35rem;
    margin-bottom: 3rem;
}
section5 .VCText{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section5 p, section5 a{
    font-size: 2rem;

}
section5 p{
    width: 53%;
}
section5 .VCText a{
    margin: 3rem auto 1rem;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding: .5rem 1rem;
    background-color: #33b7f7;
    border-radius: 1.5rem;
    box-shadow: 0 4px 4px 0 rgb(0, 0, 0, .25) ;
}

section5 .BLlinks{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section5 .BLlinks img{
    height: 5rem;
    margin-bottom: 2rem;
}